.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.container{
  background-color: #282c34;
  display: flex;
  border: 5px solid black;
  margin: 10px;
  align-items: center;
  justify-content: start;
  height: 50vh;
  color: wheat;
}
.img{
flex-direction: row;
margin: 20px;
height: 300px;
object-fit: cover;
border-radius: 10px;
border: 5px solid wheat;
transition: 0.5s;
cursor: pointer;
}
.img:hover{

height: 350px;
}
.font{
  font-size: 40px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 20px;

}
.price{
  margin: 30px;
  font-size: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 20px;

}
.border{
  width: 100%;
  height: 100%;
  
  position: absolute;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
